.section {
    margin: 0 1em;
    padding: 2em;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
}

.sectionHeader h1 {
    margin: 0;
    align-self: center;
}

.sectionHeader img {
    width: 45%;
    margin-left: auto;
}

.section p {
    text-align: justify;
}

.image {
    display: inline;
}

.image2 {
    display:none;
}

@media screen and (min-width: 850px) {
    .section {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .sectionHeader img {
        width: 70%;
        margin-left: auto;
    }

    .image {
        display: none;
    }

    .image2 {
        display: inline;
    }
}