*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background-color: #12263A;
	color: #C5D8D1;
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	white-space: nowrap;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	white-space: nowrap;
}

/* Layout */
main {
	height: 100%;
	width: 100%;
	display:grid;
	grid-template-rows: repeat(5, auto);
	padding: 0 1rem 0 1rem;
	grid-row-gap: 1em;
}

.about, .skills, .contact {
	display: flex;
	flex-wrap: wrap;
}

.about-left, .skills-left, .contact-left {
	flex: 1 1 150px;
}

.about-right, .skills-right, .contact-right {
	flex: 1 1 150px;
}

.about-center, .contact-center, .about-center-mobile {
	flex: 1 0 300px;
}

/* About */
.about {
	padding-top: 20%;
}

.about-left-2 {
	display: none;
}

#profile-pic{
	width: 90%;
	padding-top: 5px;
}

.about-left-text{
	padding-top: 10px;
}

.about-center {
	display:none;
}

.about-center-mobile {
	z-index: 0;
}

.about-right {
	text-align: right;
}

/* Skills */

.skills {
	display: flex;
	flex-direction: column;
}

.skills-left, .skills-right {
	margin-bottom: 2em;
}

.skill-icons, .qual-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1 1 10%;
	justify-content: space-around;
}

.skill-icons div {
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;
	text-align: center;
	min-width: 30%;
	max-width: 30%;
}

.qual-list div {
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;
	text-align: center;
	min-width: 40%;
	max-width: 40%;
}

.skill-icons div .listIcon,.qual-list div .listIcon{
	align-self: center;
	padding-bottom: 5px;
}

/* Contact */
.contact-center {
	margin-bottom: 30%;
}

.contact-links {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact-form {
	padding-bottom: 3em;
}

.contact-form button {
	background-color: #06BCC1;
	color:#12263A;
}

.personal-links p {
	display: none;
}

/*Navs*/
.nav-header {
	position:fixed;
	width: 100%;
	top:0;
	z-index: 1;
}

.navbar-brand {
	padding-left: 1em;
}

.nav-header-links {
	display: flex;
	justify-content: flex-end;
}

.nav-header-links .nav .nav-item .nav-link {
	color: #C5D8D1;
}
.nav-header-links .nav .nav-item .nav-link:hover {
	color: #C5D8D1;
}

.nav-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

.nav-footer .nav .nav-item, .nav-item .listIcon {	
	background-color: #1B2F44;
}

.nav-foot {
	color: #C5D8D1;
	padding-top: 1em;
}

.nav-foot:hover {
	color: #C5D8D1;
}

/*Tablets*/
@media screen and (min-width: 650px) and (max-width: 899px) {
	* {
		font-size: 13px;
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 12px;
	}	

	main {
		padding: 0 6em 0 6em;
		grid-row-gap: 3rem;
	}

	.about, .skills, .contact {
		justify-content: space-between;
	}

	.about-left, .skills-left, .contact-left {
		order: 1;
	}

	.about-right, .skills-right, .contact-right {
		order: 3;
	}

	.about-center, .skills-center, .contact-center, .about-center-mobile {
		order: 2;
	}


	/* About */
	.about {
		padding-top: 12%;
	}

	.about-left-2 {
		display: inline-block;
		padding-right: 30%;
		margin-bottom: 1em;
	}

	.about-right {
		display: none;
	}

	#profile-pic{
		width: 60%;
	}

	.about-left-text{
		padding-top: 10px;
	}

	.about-center {
		display:inline-block;
	}

	.gallery {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		justify-content: end;
	}

	.about-center h1 {
		text-align: end;
	}

	.about-center-mobile {
		display: none;
	}

	/* Skills */
	.skills {
		display:grid;
		grid-template-columns: 1fr 20% 1fr;
	}
	
	.skills-left {
		grid-column: 1/2;
	}

	.skills-right {
		grid-column: 3/4;
		margin-bottom: 0;
	}

	.skill-icons div, .qual-list div {
		min-width: 40%;
		max-width: 40%;
	}
	
	/* Contact */
	
	.contact {
		display:grid;
		grid-template-columns: 4fr 1em 1fr;
		margin-bottom: 7%;
	}
	
	.contact-left {
		grid-column: 1/2;
		padding-right: 4rem;
	}

	.contact-center {
		grid-column: 3/4;
		margin-bottom: 0;
	}

	.contact-links {
		display:flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	
	.contact-links div {
		flex: 1 1 70px;
		text-align: center;	
	}

	/*Navs*/
	.nav-footer {
		display: none;
	}
}

/*Desktop*/
@media screen and (min-width: 900px) {
	* {
		font-size: 13px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 12px;
	}	

	main {
		padding: 0 12% 0 12%;
		grid-row-gap: 10rem;
	}

	/* About */
	.about {
		padding-top: 10%;
	}

	.about-left-2 {
		display: inline-block;
		padding-right: 10%;
		margin-bottom: 1em;
	}

	.about-right {
		display: none;
	}

	#profile-pic{
		width: 40%;
	}

	.about-left-text{
		padding-top: 10px;
	}

	.about-center {
		display:inline-block;
	}

	.gallery {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		justify-content: end;
	}
	
	.gallery div {
		opacity: 0.6;
	}

	.gallery div:hover {
		opacity: 1;
	}

	.about-center h1 {
		text-align: end;
	}

	.about-center-mobile {
		display: none;
	}

	/* Skills */
	.skills {
		display:grid;
		grid-template-columns: 1fr 10% 1fr;
	}
	
	.skills-left {
		grid-column: 1/2;
	}

	.skills-right {
		grid-column: 3/4;
		margin-bottom: 0;
	}

	.skill-icons div {
		min-width: 20%;
		padding:0 2px 2em 2px;
	}

	.qual-list div {
		display: flex;
		flex-direction: row;
		padding-bottom: 2em;
		text-align: start;
		align-content: center;
	}

	.qual-list div p {
		align-self: center;
		margin-left: 5px;
	}
	
	/* Contact */
	.contact {
		display:grid;
		grid-template-columns: 1fr;
		margin-bottom: 2%;
	}
	
	.contact-left {
		padding: 0 25% 0 25%;
		margin-bottom: 8em; 
	}

	.contact-center {
		margin-bottom: 0;
	}
	
	.contact-links {
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	
	.personal-links {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding-bottom: 2em;
		align-content: space-around;
	}

	.personal-links p {
		display: inline;
		align-self: center;
		margin: 0;
		padding-left: 10px;
	}

	/*Navs*/
	.nav-footer {
		display: none;
	}
}	